body{
    margin: 30px;
    align-items: center;
    text-align: center;
    background-color: #000;
}
h1,h3{
    margin: auto;
    color: chartreuse;
}
.show{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    width: 300px;
    background-color: black;
}
#button{
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: auto;
    border-radius: 50%;
    background-color: white;
    width: 65px;
    height: 50px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 15px;
}